.session
    &__title
        font-family: 'myriad-700'
        color: #6f3326
        font-size: 50px
    &-wrap
        display: flex
        flex-wrap: wrap
    &__item
        &-block
            background-color: black
            text-align: center
        &-img
            padding: 30px
            height: 100%