@import 'fonts'
@import 'video'
@import 'session'




body
  font-family: 'myriad-300'   

p, h1, h2, h3, h4, h5, ul, li
  margin: 0
  padding: 0

a, h1, h2, h3, h4
  text-decoration: none
 
.container
  position: relative
  width: 1170px    
  max-width: 100%
  margin: auto
.button
  cursor: pointer